CREDIT CARD FRAUD DETECTION MODEL

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
cd = pd.read_csv('creditcard.csv')
cd.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [53]:
cd.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [54]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [55]:
cd.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [56]:
cd.isnull().any(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
284802    False
284803    False
284804    False
284805    False
284806    False
Length: 284807, dtype: bool

In [57]:
cd.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [58]:
cd['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [59]:
cd.corr()['Class']

Time     -0.012323
V1       -0.101347
V2        0.091289
V3       -0.192961
V4        0.133447
V5       -0.094974
V6       -0.043643
V7       -0.187257
V8        0.019875
V9       -0.097733
V10      -0.216883
V11       0.154876
V12      -0.260593
V13      -0.004570
V14      -0.302544
V15      -0.004223
V16      -0.196539
V17      -0.326481
V18      -0.111485
V19       0.034783
V20       0.020090
V21       0.040413
V22       0.000805
V23      -0.002685
V24      -0.007221
V25       0.003308
V26       0.004455
V27       0.017580
V28       0.009536
Amount    0.005632
Class     1.000000
Name: Class, dtype: float64

In [60]:
legit  = cd[cd.Class == 0]
fraud = cd[cd.Class == 1]

In [61]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [62]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [63]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [64]:
cd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [65]:
legit_sample = legit.sample(n=492)

In [66]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [67]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
151659,95965.0,-1.046015,1.615465,-0.534438,-0.698068,0.731825,-0.196335,0.357459,0.498628,1.258501,...,-0.470084,-1.275948,-0.001686,-0.000664,0.035270,0.156929,-0.133706,0.059855,5.49,0
271303,164512.0,-0.794351,0.360490,1.545941,-2.544829,0.000846,-0.422480,0.444491,-0.189087,-0.524466,...,0.034219,0.380459,-0.575337,-0.576913,0.863906,-0.106660,0.196385,-0.061021,6.20,0
140749,83901.0,0.954567,-0.526516,-0.220416,-0.704163,-0.431765,-0.206525,-0.231139,0.129825,1.317069,...,0.062212,0.149368,-0.253160,-0.391279,0.565862,-0.604952,0.073899,0.057061,128.36,0
143031,85078.0,-0.726535,-0.108910,0.980941,-3.025510,2.271039,3.404716,-0.239504,0.854263,1.159306,...,-0.049557,-0.031405,-0.403097,1.006321,0.649715,-0.784387,-0.057176,-0.148916,1.00,0
156865,109060.0,1.922685,-0.228950,-1.561995,0.320801,0.428766,-0.343108,0.071632,-0.216681,1.687355,...,0.157409,0.601964,-0.074365,0.318613,0.242491,-0.184294,-0.072744,-0.059535,78.24,0

In [68]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [69]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [70]:
new_dataset['Class'].unique()

array([0, 1], dtype=int64)

In [71]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95465.983740,0.044015,-0.105247,-0.003801,-0.003888,-0.044531,0.026723,0.023754,0.051136,0.031650,...,0.009641,-0.024220,-0.032738,0.010893,-0.043308,-0.006141,-0.064504,0.015865,0.021277,102.281748
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the Dataset into features and target

In [72]:
x = new_dataset.drop(['Class'], axis=1)
y = new_dataset['Class']

In [73]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
151659,95965.0,-1.046015,1.615465,-0.534438,-0.698068,0.731825,-0.196335,0.357459,0.498628,1.258501,...,-0.106878,-0.470084,-1.275948,-0.001686,-0.000664,0.035270,0.156929,-0.133706,0.059855,5.49
271303,164512.0,-0.794351,0.360490,1.545941,-2.544829,0.000846,-0.422480,0.444491,-0.189087,-0.524466,...,0.365760,0.034219,0.380459,-0.575337,-0.576913,0.863906,-0.106660,0.196385,-0.061021,6.20
140749,83901.0,0.954567,-0.526516,-0.220416,-0.704163,-0.431765,-0.206525,-0.231139,0.129825,1.317069,...,0.137179,0.062212,0.149368,-0.253160,-0.391279,0.565862,-0.604952,0.073899,0.057061,128.36
143031,85078.0,-0.726535,-0.108910,0.980941,-3.025510,2.271039,3.404716,-0.239504,0.854263,1.159306,...,0.136697,-0.049557,-0.031405,-0.403097,1.006321,0.649715,-0.784387,-0.057176,-0.148916,1.00
156865,109060.0,1.922685,-0.228950,-1.561995,0.320801,0.428766,-0.343108,0.071632,-0.216681,1.687355,...,-0.104801,0.157409,0.601964,-0.074365,0.318613,0.242491,-0.184294,-0.072744,-0.059535,78.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [74]:
y

151659    0
271303    0
140749    0
143031    0
156865    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [75]:
from sklearn.ensemble import ExtraTreesClassifier
classifier = ExtraTreesClassifier()
classifier.fit(x,y)

score = classifier.feature_importances_
score

array([0.00738846, 0.01849587, 0.02509641, 0.07147921, 0.09306358,
       0.01346637, 0.0166957 , 0.03264767, 0.01135895, 0.01982314,
       0.08375425, 0.08412222, 0.08326761, 0.00802343, 0.13048596,
       0.00831617, 0.06166348, 0.07837316, 0.03866354, 0.01955511,
       0.01214712, 0.01288022, 0.00738082, 0.00756083, 0.00667372,
       0.00797417, 0.00915904, 0.01386808, 0.00756992, 0.00904582])

Split the Data into training and testing data

In [76]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify=y)

x_train.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
274382,165981.0,-5.766879,-8.402154,0.056543,6.950983,9.880564,-5.773192,-5.748879,0.721743,-1.076274,...,2.493224,0.880395,-0.130436,2.241471,0.665346,-1.890041,-0.120803,0.073269,0.583799,0.00
191690,129371.0,1.183931,3.057250,-6.161997,5.543972,1.617041,-1.848006,-1.005508,0.339937,-2.959806,...,0.252571,0.109185,-0.931072,-0.064175,-0.007013,0.345419,0.064558,0.476629,0.323740,0.00
200132,133298.0,-2.173323,-3.017219,-0.389091,-0.313288,1.176755,-1.395360,0.318624,-0.074383,-0.936126,...,1.064696,0.438540,0.614770,1.184770,0.679128,-0.139311,-0.097128,0.260768,0.357486,400.00
213092,139107.0,-4.666500,-3.952320,0.206094,5.153525,5.229469,0.939040,-0.635033,-0.704506,-0.234786,...,-2.286137,-0.664263,1.821422,0.113563,-0.759673,-0.502304,0.630639,-0.513880,0.729526,22.47
23250,32657.0,-0.752597,1.238772,0.933373,-0.268709,0.012924,-0.216609,0.269546,0.534421,-0.820193,...,0.050443,-0.172792,-0.597178,-0.053214,-0.370411,-0.096430,0.097756,0.134943,0.042573,9.42

In [77]:
y_train.head()

274382    1
191690    1
200132    0
213092    1
23250     0
Name: Class, dtype: int64

In [78]:
model_res = pd.DataFrame(columns = ['Model', 'Score'])

Model Training :

LOGISTIC REGRESSION

In [79]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

model.fit(x_train, y_train)
y_test_pred = model.predict(x_test)

In [80]:
from sklearn.metrics import accuracy_score

model_res.loc[len(model_res)] = ["Logistic Regression", accuracy_score(y_test, y_test_pred)*100]
model_res

                 Model      Score
0  Logistic Regression  94.923858

DECISION TREE CLASSIFIER

In [81]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

y_test_pred = model.predict(x_test)

model_res.loc[len(model_res)] = ["Decision Tree Classifier", accuracy_score(y_test, y_test_pred)*100]
model_res

                      Model      Score
0       Logistic Regression  94.923858
1  Decision Tree Classifier  92.893401

RANDOM FOREST CLASSIFIER

In [82]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)

y_test_pred = model.predict(x_test)

model_res.loc[len(model_res)] = ["Random Forest Classifier", accuracy_score(y_test, y_test_pred)*100]
model_res

                      Model      Score
0       Logistic Regression  94.923858
1  Decision Tree Classifier  92.893401
2  Random Forest Classifier  95.431472

SUPPORT VECTOR CLASSIFICATION

In [84]:
from sklearn.svm import SVC
model = SVC()  
model.fit(x_train, y_train)

y_test_pred = model.predict(x_test)

model_res.loc[len(model_res)] = ["Support Vector Classification", accuracy_score(y_test, y_test_pred)*100]
model_res

                           Model      Score
0            Logistic Regression  94.923858
1       Decision Tree Classifier  92.893401
2       Random Forest Classifier  95.431472
3  Support Vector Classification  52.791878

In [87]:
model_res = model_res.sort_values(by = 'Score', ascending = False)
model_res

                           Model      Score
2       Random Forest Classifier  95.431472
0            Logistic Regression  94.923858
1       Decision Tree Classifier  92.893401
3  Support Vector Classification  52.791878

In [ ]:
x_train_prediction = model.predict(x_train)
accuracy = accuracy_score(x_train_prediction, y_train) * 100
accuracy

94.15501905972046

In [ ]:
x_test_prediction = model.predict(x_test)

accuracy = accuracy_score(x_test_prediction, y_test) * 100
accuracy

92.89340101522842